/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.main {
  width: 1170px;
  height: 560px;
  border: 1px solid #c3c3c3;
  margin: 0 auto;
}

.main .header {
  border-bottom: 1px solid #c3c3c3;
  height: 50px;
  box-sizing: border-box;
}

.header ul {
  float: left;
}
.header ul li {
  display: inline-block;
  margin-right: 30px;
}

.header ul li a {
line-height: 50px;
color: #1d8ee4;
font-size: 15px;
}

.header .style, .header .style2 {
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
}


.header .style:hover, .header .style2:hover {
    background-color: #d3d3d3;
}


.main-top {
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

}


.main-top-set {
  width: 1170px;
  height: 430px;
  border-bottom: 1px solid  #c3c3c3;
}


.main-top-set .set1, .set2, .set3, .set4, .set5 {
  width: 210px;
  box-sizing: border-box;
  height: 400px;

}

.main-top-set .set1 img,
.main-top-set .set2 img,
.main-top-set .set3 img,
.main-top-set .set4 img,
.main-top-set .set5 img    {
  padding: 3px;
  border: 1px solid #c5c5c5;
  box-sizing: border-box;
}
.main-top-set .set1 img:hover,
.main-top-set .set2 img:hover,
.main-top-set .set3 img:hover,
.main-top-set .set4 img:hover,
.main-top-set .set5 img:hover {
    cursor: pointer;
    opacity: 0.8;
}



.set1 h4::after, .set2 h4::after, .set3 h4::after, .set4 h4::after, .set5 h4::after {
  content: "$22";
  color: #c5c5c5;
  margin-left: 15px;
}

.set1 h4:hover, .set2 h4:hover, .set3 h4:hover, .set4 h4:hover, .set2 h5:hover {
    cursor: pointer;
    opacity: 0.8;
}

.set1 p, .set2 p, .set3 p, .set4 p, .set5 p {
  line-height: 20px;

}
.set1 span, .set2 span, .set3 span, .set4 span, .set5 span {
  border: 1px solid #1d8ee4;
  display: inline-block;
  color: #1d8ee4;
  width: 100%;
  font-size: 12px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.set1, .set2, .set3, .set4, .set5 {
  display: inline-block;
  margin-right: 15px;
  margin-top: 20px;
}

.set1 {
  margin-left: 20px;
}

.set1 span:hover, .set2 span:hover, .set3 span:hover, .set4 span:hover, .set5 span:hover {
    color: #c5c5c5;
    cursor: pointer;
    background-color: #1d8ee4;
    color: #fff;
}


.footer {
  width: 1170px;
  height: 50px;
  margin-top: 0 auto;
border-top: 1px solid #c5c5c5;
  margin-top: 40px;
}

.footer .footwrap {
  margin-left: 20px;
}
.footer .foot-logo, .footer ul {
  float: left;
}
.footer .foot-logo {
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  line-height: 50px;
}

.footer ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer ul li a {
color: #1d8ee4;
line-height: 50px;
}

.footer ul li a:hover {
    color: #c5c5c5;
}
