/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.main {
  width: 1170px;
  height: 1050px;
  border: 1px solid #c3c3c3;
  margin: 0 auto;
}

.main .header {
  border-bottom: 1px solid #c3c3c3;
  height: 50px;
  box-sizing: border-box;
}

.header ul {
  float: left;
}
.header ul li {
  display: inline-block;
  margin-right: 30px;
}

.header ul li a {
line-height: 50px;
color: #1d8ee4;
font-size: 15px;
}

.header .style {
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
}

.header .style:hover {
	 background-color: #d3d3d3;
}


.header .style2 {
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
}



.header .style2:hover {
	background-color: #d3d3d3;
}

.main-top {
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  margin-left: 15px;
}

.main-top .upper,
.middle, .bot {
  height: 210px;
}


.main-top .upper img,
.middle img, .bot img {
  border: 1px solid #c5c5c5;
  padding: 3px;
  float: left;
margin-right: 15px;
}

.main-top .upper p,
.middle p, .bot p {
  clear: right;
  font-size: 15px;
word-spacing: 2px;
line-height: 25px;
}

.main-top .upper, .middle, .bot {
  margin-bottom: 30px;
}

.upper p.up, .middle p.up, .bot p.up {
  font-size: 18px;
}

.upper p.up, .middle p.up, .bot p.up {
  margin-bottom: 15px;
}


.txt textarea {
  width: 1140px;
  box-sizing: border-box;
  height: 40px;
  resize: none;
  line-height: 35px;
  padding: 0 15px;
  font-size: 16px;
  color: #c5c5c5;
}

.txt .btn {
  display: inline-block;
  background-color: #1d8ee4;
  color: white;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.txt .btn:hover {
	background-color: #fff;
	color: #1e8ee4;
	border: 1px solid #1e8ee4;
	box-sizing: border-box;
}


.footer {
  width: 1140px;
  height: 50px;
  border-top: 1px solid #c5c5c5;
  box-sizing: border-box;
}

.footer .logo, .footer ul {
  float: left;
  margin-top: 15px;
}

.footer .logo {
  color: black;
  font-size: 16px;
  margin-right: 30px;
  font-weight: bold;
  line-height: 50px;
}

.footer ul li {
  display: inline-block;
  margin-right: 20px;
}

.footer ul li a {
  line-height: 50px;
  color: #1d8ee4;
}

.footer ul li a:hover {
	color: #c5c5c5;
}
